@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: #f9fbfc;
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.box {
  border-color: #eef0f2bc;
  border-width: 0.5px;
}
.text {
  color: #797d8e;
}
.input-box {
  border-color: #eef0f2bc;
  border-width: 0.5px;
}
.dark-blue {
  background-color: #2979ff;
}
.primary-color {
  color: #2979ff;
}
nav {
  border-color: #eef0f2bc;
  border-width: 0 0 01px 0;
}
.line {
  border-color: #eef0f2bc;
  border-width: 0 0 01.5px 0;
}
.button-off {
  border: 1px solid #2979ff;
  background-color: transparent;
  color: #2979ff;
}
.bill {
  border: 2px dashed #2978ff24;
}
.bill-line {
  border-top: 2px dashed #2978ff24;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}
